* { margin: 0; padding: 0; font-family: 'Montserrat';}

body{background-color: #D4F5F5;}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App--menu{
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  font-size: 40px;
  align-self: flex-start;
  margin-top: 2rem;
  margin-left: 2rem;
  color: white;
  background-color: #0F9D58;
}

.App--title{
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 4rem;
  background-color: #3A405A;
  line-height: 4.5rem;
}

.App--login{
  align-self: flex-end;
}

.userInfo--container{
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 90px;
  background-color: #8C9A9E;
  border-radius: 30px;
}

.userInfo--avatar{
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 50%;
  width: 50px;
  height: auto;
  gap: 1rem;
  border: 1px solid black;
}

.userInfo--name--container{
  margin-top: 2rem;
  align-items: center;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.userInfo--name{
  font-weight: 700;
  line-height: 20px;
}

.app--menu--small{
  border-radius: 50%;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: #0F9D58;
}

.App--book{
  margin-left: 5rem;
  justify-content:left;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  flex: 1 1;
}

.App--book--icon{
  color: #D4F5F5;
}

.card--container{
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 100%;
  background-color: #93B7BE;
  gap: 0.5rem;
  padding: 1rem;
  padding-bottom: 2rem;
  border: 1px solid black;
}

.delete{
  visibility: hidden;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 1rem;
  color: rgb(209, 86, 86);
}

.card--container:hover .delete{
  visibility: visible;
}

.card--container:hover{
  box-shadow: 2px 2px 4px black;
}

.input--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.switch input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  cursor: pointer;
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: rgb(223, 79, 79);
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
          background: rgb(91, 206, 91);
}